{
  "extends": ["plugin:security/recommended", "airbnb-base"],
  "env": {
    "jest/globals": true,
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
  "plugins": ["jest", "security"],
  "rules": {
    "eslint linebreak-style": [0, "error", "windows"]
  }
}
